# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/src/watagashi.dir
/src/cmake_install.cmake
/src/watagashi.vcxproj
/src/watagashi.vcxproj.filters
/src/watagashi.vcxproj.user
/src/CMakeFiles
/src/Debug
/src/Release
/ALL_BUILD.vcxproj.filters
/cmake_install.cmake
/ZERO_CHECK.vcxproj
/ZERO_CHECK.vcxproj.filters
/Watagashi.sln
/CMakeFiles
/x64
/CMakeCache.txt
/ALL_BUILD.vcxproj
/.vs
/INSTALL.vcxproj
/INSTALL.vcxproj.filters
/INSTALL.vcxproj.user
/src/INSTALL.vcxproj
/src/INSTALL.vcxproj.filters
/ALL_BUILD.vcxproj.user
